<nav id="menuLateral" class="menu-lateral">
  <div class="menu-toggle" onclick="alternarMenu()">☰</div> <!-- Botão de toggle -->
  <div class="logo">
    <h2>Clínica Repouso</h2>
  </div>
  <ul class="menu-lista">
    <li><a href="../Home/Home.html" data-icon="🏠">🏠 Home</a></li>
    <li><a href="../Observacoes/observacoes-gerais.html" data-icon="📌">📌 Pendências</a></li>
    <li><a href="../Colaborador/ColaboradorCadastro.html" data-icon="🧑">🧑 Colaboradores</a></li>
    <li><a href="../Cliente/Cliente.html" data-icon="👴">👤 Clientes</a></li>
    <li><a href="../Representante/cadastro-representante.html" data-icon="👨‍👩‍👧">👨‍👩‍👧 Responsáveis</a></li>
    <li><a href="../Servico/Servico.html" data-icon="🛎️">🛎️ Serviços</a></li>
    <li><a href="../ServicoCliente/ServicoCliente.html" data-icon="💰">💰 Vendas</a></li>
    <li><a href="../Pagamento/Pagamento.html" data-icon="📋">📋 Pagamentos</a></li>
    <li><a href="../Previa/Previa.html" data-icon="📊">📊 Previsão Mensal</a></li>
    <li><a href="#" data-icon="🏭">🏭 Fornecedores</a></li>
  </ul>
</nav>
